body {
  background-color: #f7f7f7;
  font-family: "Segoe UI", sans-serif;
  padding: 20px;
  color: #333;
}

h1 {
  color: #3498db;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

ul {
  list-style-type: square;
  padding: 0;
  margin: 0 auto; /* center ul sebagai blok */
  width: fit-content; /* supaya ukurannya sekecil isinya */
  text-align: left; /* biar item gak ikut ketengah */
}

li {
  text-align: left;
}

a {
  color: #e74c3c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
